
<div class="wrap-sugg-books">
    <div class="hdr-sugg-books-content">
        <div class="hdr-tittle">
            <a href="#">Gợi ý dành riêng cho bạn</a>
        </div>
    </div>
    <div class="wrap">
        <div class="sgt-ltt-book-cotent">
            <div class="list-books">
                <div class="item-sgt-book" *ngFor="let item of ListBooks">
                    <div class="item-sgt-book__img">
                        <img src="{{item?.img}}" width="160px" height="auto">
                    </div>
                    <div class="item-name">
                        <a>{{item?.bookName}}</a>
                    </div>
                    <div class="item-sgt-book-price">
                        <div class="tem-sgt-book__new-price">
                            <span>{{item?.price * item?.sale}}đ</span>
                        </div>
                        <div class="tem-sgt-book__old-price">
                            <span>{{item?.price}}đ</span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

