<div class="wrap-books">
    <div class="books-content">
        <div class="tittle">
            <h2>Short story</h2>
        </div>
        <div class="list-books">
            <a  class="item" *ngFor="let item of ListBooks | slice:0:6">
                <div class="item-img">
                    <img src={{item.img}} width="165px" height="auto">
                </div>
                <div class="item-name">
                    <a>{{item.bookName}}</a>
                </div>
                <div class="item-price">
                    <div class="item-new-price">
                        <span>{{item.price * item.sale}}</span>
                    </div>
                    <div class="item-old-price">
                        <span>{{item.price}}</span>
                    </div>
                </div>   
            </a>
        </div>
    </div>
</div>
