<div class="wrap-hot-books">
    <div class="hot-books-content">
        <div class="tittle">
            <h2>Giảm giá</h2>
        </div>
        <div class="list-hot-books">
            <a class="primary-hot-item">
                <div class="hot-item-img">
                    <img src="../../../../assets/Book/8935250700801.jpg" width="150px" height="auto">
                </div>
                <div class="hot-item-name">
                    <a>sword art online</a>
                </div>
                <div class="hot-item-price">
                    <div class="item-new-price">
                        <span>50.000đ</span>
                    </div>
                    <div class="hot-item-old-price">
                        <span>70.000đ</span>
                    </div>
                </div>   
            </a>
    </div>
</div>