.wrap-sale-books{
    width: 100%; 
    margin-top: 10px;
}
.sale-books-content{
    background-color: white;
    width: 81%;
    margin: 0 auto;
}
.list-sale-books{
    display: flex;
    justify-content: center;
    align-items: center;
}


