.wrap-top-hdr{
    background-color: white;
}
.top-hrd-content{
    width: 82%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.top-hdr-logo{
    margin-right: 30px;
    
}
.top-hrd-srh{
   margin-left: 20px;

}
.top-hrd-srh::before{
    
}
.button-search fa fa-search::before{
    content: "a";
}
.input-srh{
    width: 680px;
    height: 42px;
    border: 2px solid #F7941E;
    border-radius: 5px;
    outline: none;

   
}