<div class="wrap-s-book"> 
    <div class="s-container">
        <div class="category-literature">
            <app-category-literature-book></app-category-literature-book>
        </div>
        <div class="s-book-content">
            <div class="s-tittle">
                <h3>Light novel</h3>
            </div>
            <div class="list-books">
                <a class="s-item" *ngFor="let item of ListBooks" (click)="OnGotoDetailBook(item)">
                    <div class="item-img">
                        <img src={{item.img}} width="160px" height="auto">
                    </div>
                    <div class="item-name">
                        <a>{{item.bookName}}</a>
                    </div>
                    <div class="item-price">
                        <div class="item-new-price">
                            <span>{{item.price * item.sale}}</span>
                        </div>
                        <div class="item-old-price">
                            <span>{{item.price}}</span>
                        </div>
                    </div>   
                </a>
            </div>   
            <div class="clearfix"></div>
            <div class="list-sgt-books">
                <app-suggestions-literature-book [ListBooks] = "ListSuggestBook"></app-suggestions-literature-book>
            </div>
        </div>
    </div>
</div>

