<div class="wrap-economics-books">
    <div class="economics-books-content">
        <div class="tittle">
            <h2>Sách kinh tế</h2>
        </div>
        <div class="list-books">
            <a class="item" *ngFor="let item of listFakeEconomics" (click)="OnGoToHomeEconomics()">
                <div class="item-img">
                    <img src="../../../../assets/Book/8935250700801.jpg" width="165px" height="auto">
                </div>
                <div class="item-name">
                    <a>sword art online</a>
                </div>
                <div class="item-price">
                    <div class="item-new-price">
                        <span>50.000đ</span>
                    </div>
                    <div class="item-old-price">
                        <span>70.000đ</span>
                    </div>
                </div>   
            </a>
        </div>
</div>
