<div class="sub-home-banner">
    <div class="list-banner">
        <div class="item">
            <img src="../../../../assets/Banner/SubBanner/Farewell-2019_310x210.jpg">
        </div>
        <div class="item">
            <img src="../../../../assets/Banner/SubBanner/NCC_Dong-A_310x210.jpg">
        </div>
        <div class="item">
            <img src="../../../../assets/Banner/SubBanner/TrangNCCT12020_310x210.jpg">
        </div>
        <div class="item">
            <img src="../../../../assets/Banner/SubBanner/weekly-event-T6_310x210.jpg">
        </div>
    </div>
</div>