<div class="wrap">
    <div class="sgt-ltt-book-cotent">
        <div class="list-sgt-books">
            <div class="item-sgt-book" *ngFor="let item of listFakeItem">
                <div class="item-sgt-book__img">
                    <img src="../../../../assets/Book/8935250700801.jpg" width="165px" height="auto">
                </div>
                <div class="tem-sgt-book__name">
                    <a>sword art online</a>
                </div>
                <div class="tem-sgt-book-price">
                    <div class="tem-sgt-book__new-price">
                        <span>50.000đ</span>
                    </div>
                    <div class="tem-sgt-book__old-price">
                        <span>70.000đ</span>
                    </div>
                </div>   
            </div>
        </div>
        <div class="sgt-book-btn">
            <a href="#">Xem them</a>
        </div> 
    </div>
</div>