/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1539px;
}
body{
    background-color: #e8e8e8 !important;
}
a{
    text-decoration: none;
}

body{
    background-color:white;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, small, strong, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
/*-------------*/
.wrap-books{
    width: 100%; 
    margin-top: 10px;
}
.books-content{
    background-color: white;
    width: 81%;
    margin: 0 auto;
}
.contetn-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f8f6f0;
 }

 .link-more-book a{
    line-height: 49.2px;
    margin-right: 20px;
    cursor: pointer;
 }
 .link-more-book a:hover{
    color: #ff9800;
 }

 .contetn-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f8f6f0 !important;
 }

 .link-more-book a{
    line-height: 49.2px;
    margin-right: 20px;
 }
 
.tittle{
    padding: 10px 20px;

    text-transform: uppercase;
}
.list-books{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    display: inline-block;
    padding: 12px 10px;
    text-align: center;
    margin: 10px 5px;
}

.item:hover{
    box-shadow: 0px 4px 3px #878787;
}

.item:hover .item-name{
    color: royalblue;
}
.item-name{
    color: #333333;
    font-weight: normal;
    font-size: 18px;
    display: block;
    padding-top: 5px;
    height: 2.5em;
    font-size: 12px;

}

.item-old-price{
    color: #888888;
    text-decoration: line-through;
    font-size: 16px;
}
.item-old-price > span{
    border-top: 10px;
}
.item-new-price > span{
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
.item-price{
    display: flex;
    justify-content:center;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}